{% load static %}
<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>PokemonStore</title>
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="{% static 'css/common.css' %}">
  <link rel="stylesheet" href="{% static 'css/layout.css' %}">
	{% block head %}{% endblock %}
</head>
<body>
  <div id="wrap">
    <div id="header-nav-wrap-top" class="header-nav-wrap">
      <nav id="header-nav-top" class="header-nav">
        <a href="" class="logo">
          <img src="{% static 'img/logo.gif' %}" alt="">
        </a>
        <div class="list-right">
  	      <ul class="list-right-menu-container">
  		      {% for category in root_categories %}
  		      <li>
              <a href="">{{ category.title }}</a>
            </li>
  		      {% endfor %}
  	      </ul>
          <ul class="list-right-icon-container">
            <li>
              <a href="">
                <img src="{% static 'img/top_icon_user.gif' %}" alt="">
              </a>
            </li>
            <li>
              <a href="">
                <img src="{% static 'img/top_icon_search.gif' %}" alt="">
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div id="header-nav-wrap-bottom" class="header-nav-wrap">

    </div>
    <div id="content-container">
    	{% block content %}
    	{% endblock %}
    </div>
  </div>
	{% block script %}
	{% endblock %}
</body>
</html>
